.createUserDiv{
  width:80%;
  background: rgb(227, 227, 227);
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 2% 0% 4% 10%;
  padding: 10px 5px;
  box-shadow: 0px 5px 8px 1px black;
}

.row {
  width: 100%;
  text-align: center;
  margin-bottom: 5%;
}

.createPic1 { display:none }

.createPic2 { display:none }

.createUserInputs{
  width: 80%;
  border: 1px solid black;
  margin-bottom: 10px;
  text-align: center;
  box-shadow: 0px 5px 15px 0px black;
}

.createUserRow{
  width: 100%;
  text-align: center;
}

.buttonRow{
  width: 100%;
  justify-content: center
}
  
#state { width: 35%; }

#zip {
  width: 35%;
  margin-left: 10%;
}



@media only screen and (min-width: 870px) {
 .createPic1 {
    height: 10%;
    width: 20%;
    margin-left: 5%;
    margin-top: 10%;
    display:block;
    box-shadow: 0px 5px 8px 1px black;
  }
  
  .createPic2 {
    height: 10%;
    width: 20%;
    margin-top: 10%;
    display:block;
    box-shadow: 0px 5px 8px 1px black;
  }
  
  .createUserDiv {
    width:40%;
    margin: 2% 5% 4% 5%;
  }
}

@media only screen and (min-width: 1200px) {
  .createPic1 { margin-top: 7vh }
  .createPic2 { margin-top: 7vh }
}
