* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* button {
  border: none !important;
  background: white;
} */
/* .createUserDiv{
    width:80%;
    background: rgb(227, 227, 227);
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    position: relative;
    margin: 2% 0% 4% 10%;
    padding: 10px 5px;
    box-shadow: 0px 5px 8px 1px black;
  }
  .createUserInputs{
    width: 80%;
    border: 1px solid black;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 0px 5px 15px 0px black;
  }
  
  .createUserRow{
    width: 100%;
    text-align: center;
  } */
/* .signIn{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 5px;
    position: relative;
    left: 10%;
    background: rgb(191, 191, 191);
    width:80%;
    height: 20vh;
    margin-bottom: 5vh;
    box-shadow: 0px 5px 8px 1px black;
  } */

/* #header {
    height: 18vh;
    font-size: 50px

} */
.mine {
 color: white;
}